

*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./background_image.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}
#container{
    border: 2px solid rgb(36, 34, 34);
    background-color: rgba(0, 0, 0, 0.048);
    width: auto;
    margin: 3% 4%;
    color: white;
    background-image: 
    linear-gradient(to left,rgba(41, 22, 22, 0.4),rgba(0, 0, 0, 0.5));
    
    
}
h1::first-letter{
    font-size: larger;
 } 
span::first-letter{
    font-size: larger;
 } 

span{
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
}
div#title{
    text-align: center;
    margin: auto;
    
}
#description{
    border: 3px solid rgb(27, 24, 24);
    padding: 20px;
    width: 300px;
    background-color: rgba(2, 1, 1, 0.753);
    margin: 10px auto;
    outline: 15px;

}
input{
    padding: 8px;
    font-size: 0.rem;
}
textarea{
    padding: 8px;
    font-size: 0.8rem;

}
label{
    font-size: 0.8em;
}
#name{
    width: 95%;
    height: 2em;
    border-radius: 0.5em;
}
#age{
    width: 95%;
    height: 2em;
    border-radius: 0.5em;
}
#email{
    width: 95%;
    height: 2em;
    border-radius: 0.5em;
}
.gender{
    list-style-position: inside;
    font-size: 0.9em;
    
}
.content{
    list-style-position: inside;
    font-size: 0.9em;

}


#form1{
    width: 45%;
    height: 2em;
    border-radius: 0.5em;
}
#feedback1{
    width: 95%;
    height: 10em;
    border-radius: 0.5em;
}
#submit{
    text-align: center;
    border-radius: 0.5em;
    background-color: red;
    color: white;
    width: 30%;
    height: 2em;
    margin: auto;
    display: block;
}

/* section#gender label:not(first-child){
color: white;
list-style-position: unset;

font-style: normal;
} */
