* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    width: 100%;
  }
  h1 {
    color: #FEEA76;
  }
  .problem-1 {
    height: 20rem;
    overflow: hidden;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
  }
  .problem-1::-webkit-scrollbar {
    display: none;
  }