* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
header {flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  background-color: #d8d6bf;
  font-size: 2rem;
  border-radius: 15px;
  outline: 5px solid #9094bc;
  outline-offset: 0.3rem;
}
header a img {flex-wrap: wrap;
  width: 5rem;
  margin: 0.5em;
  outline: 5px solid #9094bc;
  border-radius: 15px;
  outline-offset: 0.3rem;
}
header div > a {flex-wrap: wrap;
  margin: 0.7rem;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: oblique;
  color: #800000;
  text-decoration: none;
  border-bottom: 4px solid #800000;
}
nav {flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 10px;
  z-index: 99;
  background-color: #efebce;
  border-radius: 15px;
  width: 99%;
  margin-left: 0.5rem;
}
.nav {flex-wrap: wrap;
  width: auto;
  font-weight: 900;
  font-size: 2.5rem;
  text-decoration: none;
}
nav .nav {flex-wrap: wrap;
  background-color: #a3a380;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: #124928db;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
}
.article {
    
  position: relative;
  display: flex;
  margin: 10px;
  background-color: #bca3ac;
  border-radius: 15px;
 
  
}
figure{flex-wrap: wrap;
    width: 50%;
}
.article div {
  position: relative;
  top: 5rem;
  left: 12rem;
  width: 550px;
  height: 550px;
  background:
    repeating-conic-gradient(#00f 0 3%, #0000 0 11%),
    repeating-conic-gradient(#0000 0 5%, #00f 0 7%) 50% / 60% 60%,
    repeating-conic-gradient(#0000 0 7%, #00f 0 9%) 50% / 70% 70%,
    repeating-conic-gradient(#0000 0 11%, #00f 0 13%) 50% / 80% 80%,
    radial-gradient(#00f 22%, #0000 0),
    #fff;
  background-repeat: no-repeat;
  filter: blur(20px) contrast(50);
  box-shadow: 0 0 0 20px #fff;
  opacity: 0.4;

}

figure button{
    color: #3e6d51db;
    background-color: #bca3ac;
    position: absolute;
    top: 19rem;
    left: 82rem;
    font-size: 2rem;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    padding: 0.6rem;text-decoration: none;
    border: none;
    border-radius: 18% 82% 20% 80% / 68% 24% 76% 32%  ;
    cursor: pointer;
    flex-wrap: wrap;
}


.article img {
  width: 50%;
  border-radius: 15px;
  margin: 0.5rem;
  position: relative;
  outline: 4px solid #fbfbfb;
  outline-offset: 0.5rem;
  
}
.pro{
    width: 100%;
    padding: 0.2rem;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
}
.pro .prolang > img{
    width: 100%;
    margin-bottom: 0.3rem;
    
}
.prolang{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
}
.prolang span > i{
    color: #800000;
    margin-right: 1.5rem;
    font-size: 3.5rem;
}
span[class="pname"]{
    width: 100%;
    font-size: 1.5rem;
    color: mediumslateblue;
    text-wrap: wrap;
    text-align: center;
}
p[class="pname"]{
    width: 100%;
    color: #800000;
    font-size: 1.5rem;
    text-wrap: wrap;
    text-align: center;
    margin-bottom: 0.2rem;
}
.div1{
    width: 15%;
   border: 3px solid black;
   border-radius: 15px;
   margin: 2px;
    padding: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
   
}
.pro div{
  animation: mymove;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes mymove {
  0%   {background-color:rgba(201, 132, 132, 0.796); left:0px; top:0px;}
  100%  {background-color:rgba(186, 186, 22, 0.689); left:200px; top:0px;}}
.pro .div1 img[alt="logom"]{
  width: 70%;
  flex-wrap: wrap;
}
#share{
  font-size: 2rem;
  color: #9094bc;
  cursor: pointer;
}
input{
  padding: 8px;
  font-size: 0.rem;
}
textarea{
  padding: 8px;
  font-size: 0.8rem;

}
label{
  font-size: 0.8em;
}
#name{
  width: 100%;
  height: 2em;
  border-radius: 0.5em;
}
#age{
  width: 100%;
  height: 2em;
  border-radius: 0.5em;
}
#email{
  width: 100%;
  height: 2em;
  border-radius: 0.5em;
}
.gender{
  list-style-position: inside;
  font-size: 0.9em;
  
}
.content{
  list-style-position: inside;
  font-size: 0.9em;

}


#description{
 padding: 1.5rem;
}
#feedback1{
  width: 100%;
  height: 10em;
  border-radius: 0.5em;
}
#submit{
  text-align: center;
  border-radius: 0.5em;
  background-color: red;
  color: white;
  width: 30%;
  height: 2em;
  margin: auto;
  display: block;
}
h2[id="fot"]{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .5rem;
  
}
.message{
  width: 30%;
  margin-left: 2rem;
  background-color: #9094bc;
  padding-top: 1rem;
  border-radius: 15px;
  display: none;
}
.div2{
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#follow{
  font-size: 8rem;
  color: #bb8588;
  margin-top: 1rem;
  cursor: pointer;
}
footer{
  
  border-radius:25px 25px 0 0 ;
  margin: 1rem;
  width: 98%;
  box-sizing: border-box;
  background-color: #efebce;
}
footer + div{
  padding-top: 1.5rem;
}