* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  background-color: #d8d6bf;
  font-size: 2rem;
  border-radius: 15px;
  outline: 5px solid #9094bc;
  outline-offset: 0.3rem;
}
header a img {
  width: 8rem;
  margin: 0.5em;
  outline: 5px solid #9094bc;
  border-radius: 15px;
  outline-offset: 0.3rem;
}
header div > a {
  margin: 0.7rem;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: oblique;
  color: #800000;
  text-decoration: none;
  border-bottom: 4px solid #800000;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav {
  width: auto;
  font-weight: 900;
  font-size: 2.5rem;
  text-decoration: none;
}
nav .nav {
  background-color: #bca3ac;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: #3e6d51db;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
}
.article {
  position: relative;
  display: flex;
  margin: 10px;
  background-color: #bca3ac;
  border-radius: 15px;
 
  
}
figure{
    width: 50%;
}
.article div {
  position: relative;
  top: 5rem;
  left: 12rem;
  width: 550px;
  height: 550px;
  background:
    repeating-conic-gradient(#00f 0 3%, #0000 0 11%),
    repeating-conic-gradient(#0000 0 5%, #00f 0 7%) 50% / 60% 60%,
    repeating-conic-gradient(#0000 0 7%, #00f 0 9%) 50% / 70% 70%,
    repeating-conic-gradient(#0000 0 11%, #00f 0 13%) 50% / 80% 80%,
    radial-gradient(#00f 22%, #0000 0),
    #fff;
  background-repeat: no-repeat;
  filter: blur(20px) contrast(50);
  box-shadow: 0 0 0 20px #fff;
  opacity: 0.4;

}

figure button{
    color: #3e6d51db;
    background-color: #bca3ac;
    position: absolute;
    top: 19rem;
    left: 82rem;
    font-size: 2rem;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    padding: 0.6rem;text-decoration: none;
    border: none;
    border-radius: 18% 82% 20% 80% / 68% 24% 76% 32%  ;
    cursor: pointer;
    
}


.article img {
  width: 50%;
  border-radius: 15px;
  margin: 0.5rem;
  position: relative;
  outline: 4px solid #fbfbfb;
  outline-offset: 0.5rem;
  
}
.pro .prolang > img{
    width: 20rem;
    
}
.prolang{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.prolang span > i{
    align-items: center;
    justify-content: center;
    color: #800000;
    margin-right: 1.5rem;
    font-size: 3.5rem;
}
span[class="pname"]{
    font-size: 2.5rem;
    color: mediumslateblue;
}
p[class="pname"]{
    color: #800000;
    font-size: 1.5rem;
}