@import url("https://fonts.googleapis.com/css2?family=Judson&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@300;400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgba(128, 128, 128, 0.582); */
}

.container{
    width: 80%;
    background-color: #eeecec;
    margin: 42px auto;
    border-radius: 2rem;
    box-shadow: 2px 2px 50px black;
    font-family: "jutson", serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.input-part{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.logo1{
    height: 50px;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: -1px 1px 5px;
    margin: 1rem;

}
select{
    font-family: "Bellota", cursive;
    height: 40px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    width: 188px;
    background-color: #d9d9d9;
    padding: 5px;

}
.search-input{
    height: 40px;
    width: 300px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;


}
.search-input input{
    padding: 10px;
    border: none;
    outline: none;
    background-color: inherit;
}
.search-input img{
    margin: 1rem;
    width: 30px;
    height: 30px;

}
.support{
    font-size: 1.5rem;
    text-align: right;
}
.support-number{
    font-weight: 600;
}
.support-text{
    font-size: 0.8rem;
}
.icons{
    margin-right: 20px;
}
.icons img{
    padding: 10px;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 4rem;

}
.categoryButton{
    display: flex;
    height: 40px;
    width: 300px;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #d9d9d9;
    border-radius: 5px;
    padding: 10px;

}
.categoryButton p{
    font-style: italic;
    margin-left: 18px;

}
.navbar ul{
    list-style-type: none;
}
.navbar ul li{
    display: inline-block;
    padding: 10px;
    
}