*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    display: flex;
    margin-top: 30rem;
    justify-content: center;
}
.card-body{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}
.card-text {
    flex-wrap: wrap;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 20rem;
    height: 5.4vh;
    border-radius: 15px;
    padding: 0.5rem;
}
.fa-regular{
    font-size: 3.2rem;
    width: 4rem;
    height: 5.4vh;
    padding: 0.5rem;
    border-radius: 15px;
    margin: 0;

}
@media screen and (max-width: 800px){
    .fa-regular{
    background-color: rgb(183, 202, 218);
    font-size: 1.2rem;
    width:auto;
    height: auto;
    padding: 0.3rem;
    border-radius: 0.5rem;
    margin-top: 0.2rem;

}
.card{
    display: flex;
    margin-top: 5rem;
    justify-content: center;
}
.card-text {
    flex-wrap: wrap;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 9.1rem;
    height: auto;
    border-radius: 15px;
    padding: 0.5rem;
}
.card-body{
    flex-wrap: wrap;
     display: flex; 
     align-items: center;
     justify-content: center;

}
.card-body .d-flex{
    display: flex;
    flex-direction: column;
}
}