*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;
    width: 60%;
    margin: 5rem auto;

}
.main{
    display: grid;
    justify-content: center;
    align-items: center;
    opacity: 1;
    gap: 8px;
    flex-wrap: wrap;
  
    
}
.container img{
    color: black;

}
.img1{
    width: 99%;
    height: 8rem;
    object-fit: cover;
    border-radius: 100px;
    box-shadow: 1px 5px 5px rgba(90, 53, 128, 0.572);
    

}
p{
    padding: 0 2rem;
    font-size: 1.5rem;
}

h1{
    background-color: rgba(154, 80, 53, 0.523);
    position: -webkit-sticky;
    position: sticky;
   text-align: center;
   top: 0;
   font-size: 8rem;
   flex-wrap: wrap;
   border-radius: 100px;
   color: rgb(79, 61, 15);
   


}.main .container div{
    flex-wrap: wrap;
}
.container > :first-child {
    width: 100%;
    height: 5rem;
    padding: 0.1rem;
    border-radius: 20% 20% ;

}
.container{
    overflow: hidden;
    width: 100%;
    height: 20rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    font-size: 5rem;
    gap: 1px;
    padding: 0;
    margin: 0.2rem;
    flex-wrap: wrap;
    object-fit: cover;
    
    
}
.content1{
    grid-column: 1 / span 2;
    grid-row: 1/ span 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(112, 24, 24, 0.235);
    border-radius: 40px;
}
.content1:hover{
    opacity:  1;
    transform: scale(110%);
}
.content2:hover{
    opacity:  1;
    transform: scale(110%);
}
.content3:hover{
    opacity:  1;
    transform: scale(110%);
}
.content4:hover{
    opacity:  1;
    transform: scale(110%);
}
.content5:hover{
    opacity:  1;
    transform: scale(110%);
}
.content6:hover{
    opacity:  1;
    transform: scale(110%);
}
.content7:hover{
    opacity:  1;
    transform: scale(110%);
}
.content2{
    grid-column: 1 / span 2;
    grid-row: 3/ span 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(112, 24, 24, 0.235);
    border-radius: 40px;
    

}
.content3{
    grid-column: 3 / span 1;
    grid-row: 1/ span 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(112, 24, 24, 0.235);
    border-radius: 40px;
    

}
.content4{
    grid-column: 1 / span 1;
    grid-row: 2/ span 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(112, 24, 24, 0.235);
    border-radius: 40px;
   

}
.content5{
    grid-column: 2 / span 1;
    grid-row: 2/ span 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(112, 24, 24, 0.235);
    border-radius: 40px;
  

}
.content6{
    grid-column: 3 / span 1;
    grid-row: 2/ span 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(112, 24, 24, 0.235);
    border-radius: 40px;
    

}
.content7{
    grid-column: 3 / span 1;
    grid-row: 3/ span 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(112, 24, 24, 0.235);
    border-radius: 40px;
    

}
#icon{
    width: 100%;
    
    font-size: 3rem;
    justify-content: right;
    display: flex;
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0;
    
}
#icon i{
    
    
    margin: 0.6rem;
    object-fit: cover;
    width: 5rem;
    color: rgba(9, 59, 59, 0.728);
    background-color: rgba(46, 54, 54, 0.331);
    background-size: cover;
    border: hidden;
    border-radius: 90px;
    justify-content: center;
}

#facebook{
    transition: all 1s ease-in-out;
}
#facebook:hover{
    transform: translateX();
    color: rgb(13, 13, 230);
    padding-left: 2rem;
    background-color: rgba(123, 226, 103, 0.762);
   
}
.fa-instagram{
    transition: all 1s ease-in-out;
}


#instagram:hover{
    transform: translateX();
    color: rgb(13, 13, 230);
    padding-left: 2rem;
    background-color: rgba(124, 226, 103, 0.791);
}
.fa-youtube{
    transition: all 1s ease-in-out;
}
#youtube:hover{
    transform: translateX();
    color: rgb(13, 13, 230);
    padding-left: 1.5rem;
    background-color: rgba(124, 226, 103, 0.791);
}