
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 1rem;
    display: flex;
    align-items: center;
    background-color: #625b5b63;
    gap: 0.5rem;
}
.navbar{
    border: 1px solid black;
    border: none;
    border-radius: 50% 25% / 10% 40%;
}
.navbar img{
    border: 1px solid black;
    border: none;
    border-radius: 50% 25% / 10% 40%;
}
.main_1{ 
        box-shadow: 0px 0px 0px 8px #000000, 0px 0px 0px 16px #4B4C4B, 0px 0px 0px 24px #828482, 0px 0px 0px 31px #B2B5B2, 0px 0px 0px 39px #DADDDA, inset 0px 0px 33px 0px rgba(252, 252, 252, 0.86);
     width: 100rem;  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
    margin: 1.8rem auto;
    background-color: rgb(255, 255, 255);
}
#women{
    color: blue;
    filter: invert(71%) sepia(42%) saturate(5650%) hue-rotate(1deg) brightness(104%) contrast(102%);
}
#men{
    width: 45rem;
    height: 50vh;
    color: rgb(255, 183, 0);
    filter: invert(71%) sepia(42%) saturate(5650%) hue-rotate(1deg) brightness(104%) contrast(102%);
    filter: invert(20%) sepia(96%) saturate(1310%) hue-rotate(236deg) brightness(91%) contrast(98%);
    filter: invert(0%) sepia(100%) saturate(2190%) hue-rotate(212deg) brightness(98%) contrast(109%);
    filter: invert(21%) sepia(72%) saturate(3636%) hue-rotate(293deg) brightness(113%) contrast(137%);
    filter: invert(100%) sepia(100%) saturate(5%) hue-rotate(199deg) brightness(104%) contrast(80%);
    filter: invert(67%) sepia(42%) saturate(5553%) hue-rotate(80deg) brightness(110%) contrast(134%);
    filter: invert(7%) sepia(100%) saturate(7474%) hue-rotate(245deg) brightness(50%) contrast(144%);
    filter: invert(100%) sepia(96%) saturate(6977%) hue-rotate(101deg) brightness(80%) contrast(105%);
    filter: invert(100%) sepia(100%) saturate(7500%) hue-rotate(354deg) brightness(100%) contrast(104%);
    filter: invert(16%) sepia(59%) saturate(7300%) hue-rotate(358deg) brightness(100%) contrast(124%);
    

}
.woman{
    background-color: aquamarine;
    padding: 1.5rem;
    border: 1px solid black;
    border: none;
    border-radius: 50% 20% / 10% 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.man{
    border-radius: 50% 20% / 10% 40%;
    background-color: aquamarine;
    padding: 1.5rem 0;
    border: 1px solid black;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
