

*{
    margin: 0;
}
.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 1197px;
    width: 1313px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 2fr;
    grid-template-rows: 1.8fr 3.2fr 2.2fr 1.5fr;
    gap: 15px;
    margin: 1rem 1.5rem 1.5rem 1rem;
    justify-content: center;
    
}
.container div{
    border: 2px solid;
    background-color: rgba(20, 17, 207, 0.717);
    padding: 1rem;
    font-size: large;
    font-weight: bold;
    color: aliceblue;
    text-transform: capitalize;
}
#content1{
    grid-column-start:1 ;
    grid-column-end: 5;

}
#content2{
    grid-column: 1 / span 1;
    grid-row: 2/ span 1;

}
#content3{
    grid-column: 2 / span 1;
    grid-row: 2/ span 1;

}
#content4{
    grid-column: 3 / span 1;
    grid-row: 2/ span 1;

}
#content5{
    grid-column: 4 / span 1;
    grid-row: 2/ span 2;

}
#content6{
    grid-column: 1 / span 3;
    grid-row: 3/ span 1;

}
#content7{
    grid-column: 1 / span 4;
    grid-row: 4/ span 1;

}
