

body{
    box-sizing: border-box;
    margin: 2px;

}
header{
   
}
#container{
    width: 100%;
    position: absolute;
    text-align: center;
    padding: 10px 2px;
}
#container, p{
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#section1{
    background-image: url(./img/bg4.jpg);
    position: relative;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
    

}
#section2{
    background-image: url(./img/bg1.jpg);
    position: relative;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
#section3{
    background-image: url(./img/bg2.jpg);
    position: relative;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
#section4{
    background-image: url(./img/bg3.jpg);
    position: relative;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
#section5{
    background-image: url(./img/bg.jpg);
    position: relative;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
h2, h3{
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 1.7px;
    
}
p{
    background-color: rgba(210, 105, 30, 0.747);
    color: white;

}